{% extends 'base.html.twig' %}
{% block title %} Edit Restaurant {% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="main-panel">
            {{ include('navigation.html.twig') }}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                {{ form_row(form.name) }}
                                {{ form_row(form.userId) }}
                                {{ form_row(form.hall1) }}
                                {{ form_row(form.hall2) }}
                                {{ form_row(form.region) }}
                                {{ form_row(form.comment) }}
                                {{ form_row(form.active, {label_attr: {class: 'checkbox-custom'} }) }}
                            </div>
                            <div class="row card-body">
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                                    {% if form.coverPath.vars.data is not null %}
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Cover Image"
                                           data-image="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.coverPath.vars.data) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.coverPath.vars.data) }}"
                                                 alt="Another alt text">
                                        </a>
                                    {% endif %}
                                    Cover Image
                                    {{ form_widget(form.coverPath) }}
                                </div>
                                <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                                    {% if form.image1.vars.data is not null %}
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Image 1"
                                           data-image="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.image1.vars.data) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.image1.vars.data) }}"
                                                 alt="Another alt text">
                                        </a>
                                    {% endif %}
                                    Image 1
                                    {{ form_widget(form.image1) }}
                                </div>
                                <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                                    {% if form.image2.vars.data is not null %}
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Image 2"
                                           data-image="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.image2.vars.data) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.image2.vars.data) }}"
                                                 alt="Another alt text">
                                        </a>
                                    {% endif %}
                                    Image 2
                                    {{ form_widget(form.image2) }}
                                </div>
                                <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                                    {% if form.image3.vars.data is not null %}
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Image 3"
                                           data-image="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.image3.vars.data) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.image3.vars.data) }}"
                                                 alt="Another alt text">
                                        </a>
                                    {% endif %}
                                    Image 3
                                    {{ form_widget(form.image3) }}
                                </div>
                                <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                                    {% if form.image4.vars.data is not null %}
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Image 4"
                                           data-image="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.image4.vars.data) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ form.vars.data.id ~'/' ~ form.image4.vars.data) }}"
                                                 alt="Another alt text">
                                        </a>
                                    {% endif %}
                                    Image 4
                                    {{ form_widget(form.image4) }}
                                </div>
                                {{ include('modal/galery.html.twig') }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                {{ form_row(form.menu) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
