{% extends 'base.html.twig' %}
{% block title %} Restaurants {% endblock %}
{% block search %}{% endblock %}
{% block body %}
    <div class="">
        <div class="main-panel">
            {% include 'navigation.html.twig' %}
            <div class="col-md-12">
                {{ render(controller('App\\Controller\\SearchController::searchAction')) }}
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Restaurants Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <tr>
                                    {% if app.user is not null %}
                                        <th>
                                            Username
                                        </th>
                                    {% endif %}
                                    <th{% if restaurants.isSorted('restaurantId.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(restaurants, 'Name', 'restaurantId.name') }}</th>
                                    <th>
                                        Hall_1
                                    </th>
                                    <th>
                                        Hall_2
                                    </th>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <th>
                                            Acive
                                        </th>
                                    {% endif %}
                                    <th>
                                        Regions
                                    </th>
                                    <th{% if restaurants.isSorted('restaurantId.comment') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(restaurants, 'Comment', 'restaurantId.comment') }}</th>

                                    <th style="width: 27%">
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for restaurant in restaurants %}
                                    <tr>
                                        {% if app.user is not null %}
                                            <td>
                                                {{ restaurant.restaurantId.getUserId.username }}
                                            </td>
                                        {% endif %}
                                        <td>
                                            {{ restaurant.restaurantId.name }}
                                        </td>
                                        <td>
                                            {{ restaurant.restaurantId.hall1 }}
                                        </td>
                                        <td>
                                            {{ restaurant.restaurantId.hall2 }}
                                        </td>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <td>
                                                {{ restaurant.restaurantId.active }}
                                            </td>
                                        {% endif %}
                                        <td>
                                            {{ restaurant.restaurantId.region.name }}
                                        </td>
                                        <td>
                                            {{ restaurant.restaurantId.comment }}
                                        </td>
                                        <td>
                                            {% if is_granted(['ROLE_SUPER_ADMIN']) %}
                                                <a href="{{ path('view_restaurant',{'id':restaurant.restaurantId.id}) }}"
                                                   class="btn btn-sm btn-primary">View</a>
                                                <a href="{{ path('edit_restaurant',{'id':restaurant.restaurantId.id}) }} "
                                                   class="btn btn-warning btn-sm">Edit</a>
                                                <a href="#" data-toggle="modal"
                                                   data-target="#exampleModal"
                                                   class="btn btn-danger btn-sm">Remove </a>
                                                {% if restaurant.reserved %}
                                                    <i class="material-icons text-danger">lens</i>
                                                {% else %}
                                                    <i class="material-icons text-success">lens</i>
                                                {% endif %}
                                                {{ include('modal/modal.html.twig') }}
                                            {% else %}
                                                <a href="{{ path('view_restaurant',{'id':restaurant.restaurantId.id}) }}"
                                                   class="btn btn-sm btn-info">View</a>
                                                {% if restaurant.status %}
                                                    <a href="#" class="btn btn-danger btn-sm disabled" role="button" aria-disabled="true">Reserved</a>
                                                {% else %}
                                                    <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#guestBook{{ restaurant.restaurantId.id }}" role="button">Book Now</a>
                                                    {{ include('modal/guest_book.html.twig') }}
                                                {% endif %}
                                                {% if restaurant.period == 1 %}NIGHT
                                                {% elseif restaurant.period == 0 %}DAY
                                                    {% elseif restaurant.period == 3  %}
                                                    ALLDAY
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {{ knp_pagination_render(restaurants) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
