{% extends 'base.html.twig' %}
{% block title %} Restaurants {% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="main-panel">
            {% include 'navigation.html.twig' %}
            <h1>Restaurants</h1>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Username
                                    </th>
                                    <th{% if restaurants.isSorted('r.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(restaurants, 'Name', 'r.name') }}</th>
                                    <th>
                                        Hall_1
                                    </th>
                                    <th>
                                        Hall_2
                                    </th>
                                    <th>
                                        Acive
                                    </th>
                                    <th>
                                        Regions
                                    </th>
                                    <th>{{ knp_pagination_sortable(restaurants, 'Comments', ['r.comment', 'r.id']) }}</th>
                                    <th style="width: 10%">
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for restaurant in restaurants %}
                                    <tr>
                                        <td>
                                            {{ restaurant.userId }}
                                        </td>
                                        <td>
                                            {{ restaurant.name }}
                                        </td>
                                        <td>
                                            {{ restaurant.hall1 }}
                                        </td>
                                        <td>
                                            {{ restaurant.hall2 }}
                                        </td>
                                        <td>
                                            {{ restaurant.active }}
                                        </td>
                                        <td>
                                            {{ restaurant.region }}
                                        </td>
                                        <td>
                                            {{ restaurant.comment }}
                                        </td>
                                        <td>
                                            <a href="{{ path('edit_restaurant',{'id':restaurant.id}) }}">Edit</a>
                                            <a href="#" data-toggle="modal"
                                               data-target="#exampleModal">Remove </a>
                                            {{ include('modal/modal.html.twig') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {{ knp_pagination_render(restaurants) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
