{% extends 'base.html.twig' %}
{% block title %} New Restaurants {% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="main-panel">
            {% include 'navigation.html.twig' %}
            {% include 'alert.html.twig' %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">New Restaurant</h4>
                                <p class="card-category">Complete your profile</p>
                            </div>
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-body">
                                        {{ form_row(form.name) }}
                                        {{ form_row(form.userId) }}
                                        {{ form_row(form.hall1) }}
                                        {{ form_row(form.hall2) }}
                                        {{ form_row(form.region) }}
                                        {{ form_row(form.comment) }}
                                        {{ form_row(form.active, {label_attr: {class: 'checkbox-custom'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    {{ form_row(form.menu|raw) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
