{% extends 'base.html.twig' %}
{% block title %} dView12 {% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="main-panel">
            {{ include('navigation.html.twig') }}
            <div class="container-fluid">
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-8">
                        <div class="card">
                            <h3>Reservation date</h3> <br>
                            soon as possible :D
                        </div>
                        <div class="card">
                            <div class="row card-body">
                                {% if restaurant.coverPath is not null %}
                                    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Test1"
                                           data-image="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.coverPath) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.coverPath) }}"
                                                 alt="Another alt text">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if restaurant.image1 is not null %}
                                    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Test1"
                                           data-image="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.image1) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.image1) }}"
                                                 alt="Another alt text">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if restaurant.image2 is not null %}
                                    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Test1"
                                           data-image="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.image2) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.image2) }}"
                                                 alt="Another alt text">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if restaurant.image3 is not null %}
                                    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Test1"
                                           data-image="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.image3) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.image3) }}"
                                                 alt="Another alt text">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if restaurant.image4 is not null %}
                                    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                           data-title="Test1"
                                           data-image="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.image4) }}"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.image4) }}"
                                                 alt="Another alt text">
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="image-gallery-title"></h4>
                                            <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">×</span><span class="sr-only">Close</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary float-left"
                                                    id="show-previous-image"><i class="fa fa-arrow-left"></i>
                                            </button>

                                            <button type="button" id="show-next-image"
                                                    class="btn btn-secondary float-right"><i
                                                        class="fa fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card ">
                            {% if restaurant.coverPath is not null %}
                                <div class="card-profile">
                                    <img class="img"
                                         src="{{ asset('uploads/' ~ restaurant.name ~'/' ~ restaurant.coverPath) }}" width="85%">
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ restaurant.name }}</h4>
                                <p class="card-category">{{ restaurant.userId.name }} {{ restaurant.userId.lastname }}</p>
                                <p class="card-category">{{ restaurant.userId.city }}, {{ restaurant.region.name }}</p>
                                <p class="card-category">{{ restaurant.userId.number }}</p>
                                <p class="card-category">{{ restaurant.comment }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="div">
                                    {{ restaurant.menu|raw }}
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary btn-round">Book here</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
